*{padding: 0;margin: 0;box-sizing: border-box;}
body{
    background-color:#111;
}
.container, .hero{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    height: 200px;
    width: 200px;
    font-size: 100px;
    align-content: center;
    text-align: center;
    color: #111;
    font-family: sans-serif;
    text-shadow: 0px 0px 10px #eee;
    font-weight: 600;
    background-color: goldenrod;
    box-shadow: inset 0px 0px 10px #eee,
    0px 0px 10px rgba(218, 165, 32, .5);

    border-radius: 4px;
}

.animated-comp{
    transform:   translateX(-300%) translateY(100px) scaleY(.3);
    transition: all .4s;
}
.animated-comp.animate{
    transform:  translateX(0px) translateY(0px) scaleY(1) ;
}


.footer{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    flex-direction: column;
    gap: 40px;
    font-family: sans-serif;
    text-align: center;
    animation: change  forwards;
    animation-timeline: view();
    animation-range: entry 60% cover 90%;
}

@keyframes change {
    from{
        background-color: white;
        color: slateblue;
    }
    to{
        background-color: slateblue;
        color: white;
    }
}